#events {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;

  .event-card {
    min-height: 10em;
    border: 0.15em solid #3a3;
    border-radius: 0.5em;
    padding: 1.25em;

    h2 {
      text-align: center;
    }

    .learn-more {
      display: block;
      border-radius: 0.5em;
      border: 0.5em solid #3a3;
      padding: 1em;

      background-color: #3a3;
      color: white;
      text-decoration: none;

      /* move to center of box */
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 15em;
    }

    .learn-more:hover {
      background-color: white;
      color: #3a3;
      border: 0.5em solid #3a3;
    }
  }

  .category {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 15em;

    color: grey;
  }

  .professional {
    border-color: #fdb433;
  }

  .social {
    border-color: #3ea498;
  }

}
