/* body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

/* logo styles */
#logo {
  height: 100px;
  margin-right: auto;
  margin-left: 0;
  width: auto; 
}

/* navigation styles */
#user-navigation {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-navigation a {
  background-color: #333;
  color: #246a26;
  text-align: center;
  padding: 15px 15px;
  margin-top: 20px;
  text-decoration: none;
}

#user-navigation a#login {
  border-radius: 10px;
  background-color: #333;
  border-color: #246a26;
  border-width: 1px;
  border-style: solid;
  color: #246a26;
  text-align: center;
  padding: 15px 15px;
  margin-top: 20px;
  text-decoration: none;
}

#user-navigation a#signup {
  background-color: #3a3;
  color: white;
  text-align: center;
  padding: 15px 15px;
  margin-top: 20px;
  text-decoration: none;
}

#user-navigation {
  text-align: right;
}

#main-navigation a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

#main-navigation {
  background-color: #3a3;
  text-align: left;
  padding: 15px 20px;
}

/* Header styles */
header {
  background-color: #333;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* main sytles*/
main {
  padding: 20px;
}

h1, h2 {
  color: #333;
}

footer {
  background-color: #333;
  color: #246a26;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}

footer p {
  margin-left: 15px;
}

footer a {
  color: #246a26;
  margin-left: 15px;
  text-decoration: none;
}
