<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lunch and Learn Event - ColorStack UNC Charlotte</title>
        <link rel="stylesheet" href="../../css/styles.css">
        <link rel="stylesheet" href="../../css/eventDetail.css">
    </head>

    <body>
        <main>
            <!-- Event details will be displayed here -->
            <div class="title-bar">
                <h2>ColorStack at UNC Charlotte</h2>
                <h1>Lunch and Learn</h1>
                <!-- options for editing or deleting the event -->
                <div class="options">
                    <ul>
                        <li><a href="../login.html">Edit Event</a></li>
                        <li><a href="../login.html">Delete Event</a></li>
                    </ul>
                </div>
            </div>

            <section id="event-details">
                <div class="event-info">
                    <p>Date: 2024 September 25</p>
                    <p>Location: Cone University Center, Lucas Room</p>
                    <p>Enjoy a free lunch while listening to presentations by fellow students and prospective employers!</p>
                </div>
                <img src="../../images/Aerial_Atkins_Clocktower.jpg" alt="temp event image, from https://ucomm.charlotte.edu/media-assets">
            </section>

            <!-- Buttons to register or cancel the event -->
            <div id="buttons">
                <button id="register">Register</button>
                <button id="cancel">Cancel</button>
            </div>
        </main>
    </body>

    <!-- Script for event details -->
    <script src="../../js/eventDetail.js"></script>
</html>
