<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/eventDetail.css">
    <% if (typeof extraCSS !== 'undefined') { %>
        <% extraCSS.forEach( (file) => { %>
            <link rel="stylesheet" href="/css/<%= file %>.css">
        <% } ) %>
    <% } %>
</head>
<body>
    <header>
        <div class="header-content">
            <img src="/images/ColorStack_UNC-Charlotte_Logo.png" alt="Logo" id="logo">
            <nav id="user-navigation">
                <a id="login" href="/login">Login</a>
                <a id="signup" href="/signup">Signup</a>
            </nav>
        </div>
        <nav id="main-navigation">
            <a href="/">Home</a>
            <a href="/events">Events</a>
            <a href="/events/new">Create Event</a>
        </nav>
    </header>
    <main>
