/* form styles */
form {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
}

form input[type="text"], form input[type="date"], form input[type="time"], form input[type="file"], form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  background-color: #2a7f2d;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #246a26;
}

form button {
  background-color: rgb(0, 128, 255);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
