<%- include('./partials/header.ejs', { title: 'ColorStack at UNC Charlotte' }) %>
  <section id="introduction">
    <h1>Welcome to The ColorStack at UNC Charlotte Connections site</h1>

    <p>Attend our eventsand create connections with other students and faculty at UNC Charlotte. Post internship opening or personal development opportunities</p>

    <br>

    <p>Check out the <a href="/events">Events</a> section to browse available events!</p>
  </section>
<%- include('./partials/footer.ejs') %>
