<%- include('../partials/header', {title: 'Log In', extraCSS: ['accounts']}) %>

<h1>Log In</h1>

<form class="account-form" id="login-form" action="/users/login" method="POST">
    <label class="grid1" for="email">Email:</label>
    <input class="grid2" type="email" id="email" name="email" required>
	<br>

    <label class="grid1" for="password">Password:</label>
    <input class="grid2" type="password" id="password" name="password" minlength="8" required>
	<br>

    <button type="submit">Log In</button>
</form>

<p>Don't have an account? <a href="/users/signup">Sign up</a></p>

<%- include('../partials/footer') %>
