<%- include('../partials/header', {title: 'Sign Up', extraCSS: ['accounts']}) %>

<h1>Sign Up</h1>

<form class="account-form" id="signup-form" action="/users" method="POST">
    <label class="grid1" for="firstname">First Name:</label>
    <input class="grid2" type="text" id="firstname" name="firstname" required>
    <br>

    <label class="grid1" for="lastname">Last Name:</label>
    <input class="grid2" type="text" id="lastname" name="lastname" required>
    <br>

    <label class="grid1" for="email">Email:</label>
    <input class="grid2" type="email" id="email" name="email" required>
    <br>

    <label class="grid1" for="password">Password:</label>
    <input class="grid2" type="password" id="password" name="password" minlength="8" required>
    <br>

    <button type="submit">Sign Up</button>
</form>

<p>Already have an account? <a href="/user/login">Log in</a></p>

<%- include('../partials/footer') %>
