<%- include('../partials/header', {title: 'Sign Up'}) %>

<h1>Sign Up</h1>

<form id="signup-form" action="/users" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Sign Up</button>
</form>

<p>Already have an account? <a href="/user/login">Log in</a></p>

<%- include('../partials/footer') %>
