</main>
<footer>
    <p>&copy; 2024 ColorStack at UNC Charlotte. All rights reserved.</p>
    <ul>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
    </ul>
</footer>
</body>
</html>