<%- include('../partials/header.ejs', { title: 'Create a New Event - ColorStack UNC Charlotte', extraCSS: ['eventForm'] }) %>
<h1>Create a New Event</h1>

<form class="connection-form" action="/events" method="POST">

    <label class="grid1" for="title">Title</label>
    <input class="grid2" type="text" id="title" name="title" placeholder="Enter the title of the event" required><br>

    <label class="grid1" for="category">Category</label>
    <input class="grid2" type="text" id="category" name="category" placeholder="Enter the category of the event" required><br>

    <label class="grid1" for="organizer">Host</label>
    <input class="grid2" type="text" id="organizer" name="organizer" placeholder="Enter the name of the event host" required><br>

    <label class="grid1" for="description">description</label>
    <textarea class="grid2" id="description" name="description" placeholder="Enter a short description of the event" required></textarea><br>

    <label class="grid1" for="location">Location</label>
    <input class="grid2" type="text" id="location" name="location" placeholder="Enter the location of the event" required><br>

    <label class="grid1" for="when">Date</label>
    <input class="grid2" type="date" id="when" name="when" required><br>

    <label class="grid1" for="start">Start Time</label>
    <input class="grid2" type="time" id="start" name="start" required><br>

    <label class="grid1" for="end">End Time</label>
    <input class="grid2" type="time" id="end" name="end" required><br>

    <label class="grid1" for="image">Image</label>
    <input class="grid2" type="file" id="image" name="image" accept="image/*"><br>

    <button type="submit">Create Event</button>

</form>
<%- include('../partials/footer.ejs') %>
